#cuadrado_1 {
    width: 100px;
    height: 100px;
    background-color: #ccc;

}

#cuadrado_2 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;

}

#cuadrado_3 {
    width: 100px;
    height: 100px;
    background-color: burlywood;

}